<section id="about">
    <div class="section-content">
        <div class="container">
            <div class="col-md-6">
                <div class="about-text">
                    <h3>About Me</h3>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, lucilius accusata maiestatis mei et, id nam modus scaevola.
                        Wisi graeci convenire ea sed. Malorum nusquam gloriatur per ei, iudicabit ullamcorper vix ne,
                        per id aeque ubique mucius. Probo error fabulas per ex, quo urbanitas definitionem ut. 
                        Eum nihil eirmod periculis id. Suas case iriure eos ad. Cu assentior consectetuer his, 
                        solum dissentiet mea te, autem insolens et qui.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, lucilius accusata maiestatis mei et, id nam modus scaevola.
                        Wisi graeci convenire ea sed. Malorum nusquam gloriatur per ei, iudicabit ullamcorper vix ne,
                        per id aeque ubique mucius. Probo error fabulas per ex, quo urbanitas definitionem ut. 
                        Eum nihil eirmod periculis id. Suas case iriure eos ad. Cu assentior consectetuer his, 
                        solum dissentiet mea te, autem insolens et qui.
                    </p>
                    <h5>Follow me on the web</h5>
                    <a href="" class="btn btn-sm btn-secondary-outline">twitter</a>
                    <a href="" class="btn btn-sm btn-secondary-outline">facebook</a>
                    <a href="" class="btn btn-sm btn-secondary-outline">youtube</a>
                </div>
            </div>
        </div>
    </div>
</section>