<section id="footer-main" >
        <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <p>uncopyright 2015. do not what you not want :D</p>
                <p>code by<a href='www.google.com'>Kick Buttowksi</a></p>
            </div>
            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li><a href="">home</a></li>
                    <li><a href="">what we do</a></li>
                    <li><a href="">about</a></li>
                    <li><a href="">latest</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
               <ul class="list-unstyled">
                   <li><a href="">facebook</a></li>
                   <li><a href="">twitter</a></li>
                   <li><a href="">linkedIn</a></li>
                   <li><a href="">youtube</a></li>
               </ul>
            </div>
            <div class="col-sm-3">
                <h6>a tiny header</h6>
                <p>An case adipisci assueverit pri, eu sit natum veniam iudicabit. 
                Ut duis vidit tractatos eam, eos facilis antiopam instructior no.
                Aliquid maiorum ea mea, ut cum option habemus convenire, 
                ex pri tincidunt scripserit. Vel at iisque delicata.</p>
            </div>
        </div>
    </div>
</section>