<section id="news">
    <div class="section-content">
        <div class="container">
            <h3>Latest News</h3>
            <p class="lead">
                Lorem ipsum dolor sit amet, lucilius accusata maiestatis mei et, id nam modus scaevola.
                Wisi graeci convenire ea sed. Malorum nusquam gloriatur per ei, iudicabit ullamcorper vix ne,
                per id aeque ubique mucius. Probo error fabulas per ex, quo urbanitas definitionem ut. 
                Eum nihil eirmod periculis id. Suas case iriure eos ad. Cu assentior consectetuer his, 
                solum dissentiet mea te, autem insolens et qui.
            </p>
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-columns">
                          <div class="card">
                            <img class="card-img-top img-fluid" src="/assets/woman-camera.jpg" alt="a woman with a camera">
                            <div class="card-block">
                              <h4 class="card-title">Card title that wraps to a new line</h4>
                              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            </div>
                          </div>
                          <div class="card card-block">
                            <blockquote class="card-blockquote">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                              <footer>
                                <small class="text-muted">
                                  Someone famous in <cite title="Source Title">Source Title</cite>
                                </small>
                              </footer>
                            </blockquote>
                          </div>
                          <div class="card">
                            <img class="card-img-top img-fluid" src="/assets/stars.jpg" alt="landscape photography of stars">
                            <div class="card-block">
                              <h4 class="card-title">Card title</h4>
                              <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                          <div class="card card-block card-inverse card-primary text-xs-center">
                            <blockquote class="card-blockquote">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                              <footer>
                                <small>
                                  Someone famous in <cite title="Source Title">Source Title</cite>
                                </small>
                              </footer>
                            </blockquote>
                          </div>
                          <div class="card card-block text-xs-center">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                          <div class="card">
                            <img class="card-img img-fluid" src='/assets/computer.jpg' alt="a desktop with a computer in it">
                          </div>
                          <div class="card card-block text-xs-right card-warning card-inverse">
                            <blockquote class="card-blockquote">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                              <footer>
                                <small class="text-muted">
                                  Someone famous in <cite title="Source Title">Source Title</cite>
                                </small>
                              </footer>
                            </blockquote>
                          </div>
                          <div class="card card-block">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                          </div>
                        </div>
                        <hr>
                        <nav aria-label="Page navigation" class='text-xs-center'>
                            <ul class="pagination">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                  <span class="sr-only">Previous</span>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">4</a></li>
                              <li class="page-item"><a class="page-link" href="#">5</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                </div>
            </div>
        </div>
    </div>
</section>