<section id='what-we-do'>
    <div class='section-content'>
        <div class='container'>
            <h2>What we do</h2>
            <p class='lead'>
                Lorem ipsum dolor sit amet, lucilius accusata maiestatis mei et, id nam modus scaevola. 
                Wisi graeci convenire ea sed. Malorum nusquam gloriatur per ei, iudicabit ullamcorper vix ne,
                per id aeque ubique mucius. Probo error fabulas per ex, quo urbanitas definitionem ut. Eum nihil 
                eirmod periculis id. Suas case iriure eos ad. Cu assentior consectetuer his, solum dissentiet mea te,
                autem insolens et qui.
            </p>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-group">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Strategy &amp; Planning</h4>
                                <h6 class="card-subtitle">Support Card Subtitle</h6>
                            </div>
                            <img src='assets/chalkboard.jpg' alt='a chalkboard'>
                            <div class="card-block">
                                <p class="card-text">Lorem ipsum dolor sit amet, lucilius accusata maiestatis mei et, id nam modus scaevola.</p>
                                <button type='button' class='btn btn-success-outline' data-toggle='modal' data-target='#myModal'>learn more</button>
                            </div>
                        </div>
                          <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Creative &amp; Desingn</h4>
                                <h6 class="card-subtitle">Support Card Subtitle</h6>
                            </div>
                            <img src='assets/working.jpg' alt='working on a laptop'>
                            <div class="card-block">
                                <p class="card-text">LLorem ipsum dolor sit amet, lucilius accusata maiestatis mei et, id nam modus scaevola. 
                                                    Wisi graeci convenire ea sed. Malorum nusquam gloriatur per ei, iudicabit ullamcorper vix ne,
                                                    per id aeque ubique mucius. Probo error fabulas per ex, quo urbanitas definitionem ut. Eum nihil 
                                                    eirmod periculis id. Suas case iriure eos ad. Cu assentior consectetuer his, solum dissentiet mea te,
                                                    autem insolens et qui.
                                 </p>
                                <button type='button' class='btn btn-success-outline' data-toggle='modal' data-target='#myModal'>learn more</button>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Progamming &amp; Technical</h4>
                                <h6 class="card-subtitle">Support Card Subtitle</h6>
                            </div>
                            <img src='assets/programming.jpg' alt='fingers typing on a keyboard'>
                            <div class="card-block">
                                <p class="card-text">Lorem ipsum dolor sit amet, lucilius accusata maiestatis mei et, id nam modus scaevola.</p>
                                <button type='button' class='btn btn-success-outline' data-toggle='modal' data-target='#myModal'>learn more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>